 .titleContainer#bookkeeping{
    width:100%;
    padding 10px;
     top:0;
    height: 54px;
    background: #FF5A00;
    margin:0;
     color:#FFF;
}
 .titleContainer#bookkeeping h2{
       font: 400 20px "Roboto", sans-serif;
    text-align: center;
    color: #FFF;
    margin: 0!important;
    padding-top: 24px;
    padding-left: 0;
    height: 46px;
}
.bookkeepingMainCard{
    padding:0!important;   
}
.bookkeepingMainCard p{
    padding: 0 10px;   
}
.noMarginTop {
    margin-top:0!important;
}
.scalingSideBar{
    padding:0!important;
}
.page-template-page-right-php .widgets-content ol li:before {
    font-family: 'Material-Design-Icons';
    content: '\e899';
    padding-right: 5px;
    font-size: 21px;
    color: #43a047;
}